name: CI-CD Packer to Terraform EC2

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: eu-west-3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Packer Init
        working-directory: packer
        run: packer init .

      - name: Build AMI
        working-directory: packer
        run: packer build ami.pkr.hcl

      - name: Terraform Init
        working-directory: terraform-infrastructure
        run: terraform init

      - name: Terraform Apply (Create EC2)
        working-directory: terraform-infrastructure
        run: terraform apply -auto-approve

